<div class="body">

  <!-- Header Section Start -->
  <header class="header-section">
    <mat-toolbar>
      <button mat-button class="example-icon">
        <img src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696572946/TechVedika/AngularMateriall/Rivo_tquopv.svg" alt="RIVO" class="rivo-logo" />
      </button>

      <div class="justify-content-between col-8 d-none d-lg-flex">
        <ul class="un-listed nav-item m-0">
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Home</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Shop</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Features</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Contact</a></li>
        </ul>

        <div class="nav-right d-flex align-items-center">
          <mat-icon matBadge="3" matBadgePosition="above after" matBadgeColor="warn" fontIcon="shopping_cart" class="nav-link"></mat-icon>
          <button class="ms-5 login-btn popin-font" mat-stroked-button (click)="openDialog()">LOGIN</button>
        </div>
      </div>
      

      <div class="nav-bar-md d-lg-none">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="w-150" style="width: 200px;">
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Home</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Shop</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Features</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Contact</a>
          </button>
          <button mat-menu-item class="py-3">
            <div class="demo-section">
              <button mat-raised-button color="primary"
                  matBadge="3" matBadgePosition="after" matBadgeColor="accent">
                Cart
              </button>
            </div>
          </button>
          <button mat-menu-item>
            <div class="nav-right d-flex align-items-center">
              <button class="ms-5 login-btn popin-font" mat-stroked-button (click)="openDialog()" style="margin-left: 0 !important;">LOGIN</button>
            </div>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>  
  </header>
  <!-- Header Section Ends -->

  
  <!-- Main Section Starts -->
  <div class="main-section bg-primary-light p-4">
    <div class="container">
      <div class="row">
        <div class="flex-container d-flex flex-column flex-lg-row align-items-center justify-content-around">
          <div class="content col-12 col-lg-5">
            <mat-card class="example-card lh-lg">
              <h1 class="rufina-font fs-1 c-primary-dark fw-bold lh-sm">Discover and Find Your Own Passion</h1>
              <mat-card-content class="px-0">
                <p class="popin-font fs-5 c-primary-dark lh-lg">
                  Explore our curated collection of stylish clothing and accessories tailored to your unique taste.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="accent" class="px-4">EXPLORE NOW</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="image-container col-7 d-flex justify-content-center align-items-center mt-3 mt-lg-0">
            <div class="bg-primary-dark d-flex justify-content-center align-items-center p-3 pb-0">
              <img class="align-self-end pb-5 mb-5 dots" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696593981/TechVedika/AngularMateriall/Group_38_bthwz1.svg" />
              <img class="girl" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696594759/TechVedika/AngularMateriall/pexels-dima-valkov-6402847_2_c0y1oo.png" alt="Main Girl" />
              <img class="align-self-start pt-5 mb-5 dots" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696593981/TechVedika/AngularMateriall/Group_38_bthwz1.svg" />
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
  <!-- Main Section Ends -->

  <!-- Best Selling Section Starts -->
  <div class="best-selling py-4 px-3 popin-font">
    <div class="container">
      <div class="row">
        <div class="head-section d-flex flex-column justify-content-center align-items-center">
          <h1 class="fs-2 c-primary-dark robot-slab-font fw-bold">Best selling</h1>
          <p class="fs-6 c-primary-dark popin-font text-center">Get in on the trend with our curated selection of best-selling styles.</p>
        </div>
      </div>  <!-- Header Section Ends -->
      <div class="row">
        <ul class="d-flex p-0 my-3 my-lg-5 flex-wrap">
          <li class="px-3 col-12 col-md-4">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696922390/TechVedika/AngularMateriall/Best-Selling/pexels-dima-valkov-6211621_1_gvffpx.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Regular Fit Long Sleeve Top</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$38.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">5.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="px-3 col-12 col-md-4">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696922393/TechVedika/AngularMateriall/Best-Selling/pexels-dima-valkov-6211616_1_2_eob0pv.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Black Crop Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-6">$62.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">4.9</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="px-3 col-12 col-md-4">
            <mat-card class="example-card">
              <div class="image-container bg-secondary">
                <img mat-card-image src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696922390/TechVedika/AngularMateriall/Best-Selling/pexels-dima-valkov-6503007_3_iveiem.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Textured Sunset Shirt</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-6">$49.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">5.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
        </ul>
      </div> <!-- Products Section Ends -->
      <div class="row see-all justify-content-center">
        <button mat-stroked-button>
          <span>See All</span>
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- Best Selling Section Ends -->

  <!-- Our Prodcuts Section Start -->
  <div class="our-products py-4 px-3 popin-font">
    <div class="container">
      <div class="row">
        <div class="head-section d-flex flex-column justify-content-center align-items-center">
          <h1 class="fs-2 c-primary-dark robot-slab-font fw-bold">Our Products</h1>
          <mat-chip-listbox aria-label="Fish selection" class="popin-font chips">
            <mat-chip-option color="accent" selected>SALE</mat-chip-option>
            <mat-chip-option color="accent">HOT</mat-chip-option>
            <mat-chip-option color="accent">NEW ARRIVALS</mat-chip-option>
            <mat-chip-option color="accent">ACCESSORIES</mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>  <!-- Header Section Ends -->
      <div class="row">
        <ul class="d-flex p-0 mt-3 mt-lg-5 flex-wrap">
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932280/TechVedika/AngularMateriall/our-products/pexels-dima-valkov-6211601_1_d42ocz.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$38.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">5.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932378/TechVedika/AngularMateriall/our-products/pexels-heitor-verdi-7665789_2_szcdiw.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$38.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">5.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932280/TechVedika/AngularMateriall/our-products/pexels-dima-valkov-6402846_1_sn7udf.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$24.75</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">3.9</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932280/TechVedika/AngularMateriall/our-products/pexels-monstera-6311612_3_n3rc73.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$42.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">3.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932280/TechVedika/AngularMateriall/our-products/pexels-dima-valkov-6211614_1_vkwhop.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$18.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">4.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932280/TechVedika/AngularMateriall/our-products/pexels-monstera-6311613_1_1_zsfkc6.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$24.89</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">5.0</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932279/TechVedika/AngularMateriall/our-products/pexels-dima-valkov-6511777_1_yue9mp.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$58.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">4.1</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
          <li class="p-3 col-6 col-md-3">
            <mat-card class="example-card">
              <div class="image-container bg-main">
                <img mat-card-image class="w-100" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696932279/TechVedika/AngularMateriall/our-products/pexels-dima-valkov-6402848_1_syfvat.png" alt="Photo">
              </div>
              <mat-card-content class="py-3">
               <div class="top-content">
                <p class="text-center mat-h3 popin-font fw-bold c-head">Tailored Jacket</p>
               </div>
               <div class="bottom-content d-flex align-items-center justify-content-center">
                <p class="m-0 mx-3 fs-lg-6">$28.99</p>
                <mat-divider [vertical]="true" style="background-color: var(--black); width: 2px; height: 18px;"></mat-divider>
                <p class="m-0 mx-3 fs-6 d-flex align-items-center">
                  <span class="pe-1">4.6</span>
                  <mat-icon>star</mat-icon>
                </p>
               </div>
              </mat-card-content>
            </mat-card>            
          </li>
        </ul>
      </div> <!-- Products Ends -->
    </div>
  </div>
  <!-- Our Products Section Ends -->

  <!-- Exclusive offer Section Start -->
  <div class="exclusive-offer">
    <div class="container">
      <div class="row bg-primary-light">
        <div class="girl-container col-12 col-md-6">
          
        </div>
        <div class="offer-container col-12 col-md-6">

        </div>
      </div>
    </div>
  </div>
  <!-- Exclusive offer Section Ends -->

</div>
