<div class="body">

  <!-- Header Section Start -->
  <header class="header-section">
    <mat-toolbar>
      <button mat-button class="example-icon">
        <img src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696572946/TechVedika/AngularMateriall/Rivo_tquopv.svg" alt="RIVO" class="rivo-logo" />
      </button>

      <div class="justify-content-between col-8 d-none d-lg-flex">
        <ul class="un-listed nav-item m-0">
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Home</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Shop</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Features</a></li>
          <li class="px-3"><a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Contact</a></li>
        </ul>

        <div class="nav-right d-flex align-items-center">
          <mat-icon matBadge="3" matBadgePosition="above after" matBadgeColor="warn" fontIcon="shopping_cart" class="nav-link"></mat-icon>
          <button mat-stroked-button class="ms-5 login-btn popin-font">LOGIN</button>
        </div>
      </div>
      

      <div class="nav-bar-md d-lg-none">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="w-150" style="width: 200px;">
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Home</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Shop</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Features</a>
          </button>
          <button mat-menu-item>
            <a class="nav-link popin-font c-primary-dark fs-6 fw-bold">Contact</a>
          </button>
          <button mat-menu-item class="py-3">
            <div class="demo-section">
              <button mat-raised-button color="primary"
                  matBadge="3" matBadgePosition="after" matBadgeColor="accent">
                Cart
              </button>
            </div>
          </button>
          <button mat-menu-item>
            <div class="nav-right d-flex align-items-center">
              <button mat-stroked-button class="login-btn popin-font">LOGIN</button>
            </div>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>  
  </header>
  <!-- Header Section Ends -->

  
  <!-- Main Section Starts -->
  <div class="main-section bg-primary-light p-4">
    <div class="container">
      <div class="row">
        <div class="flex-container d-flex flex-column flex-lg-row align-items-center justify-content-around">
          <div class="content col-12 col-lg-5">
            <mat-card class="example-card lh-lg">
              <h1 class="rufina-font fs-1 c-primary-dark fw-bold lh-sm">Discover and Find Your Own Passion</h1>
              <mat-card-content class="px-0">
                <p class="popin-font fs-5 c-primary-dark lh-lg">
                  Explore our curated collection of stylish clothing and accessories tailored to your unique taste.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="accent" class="px-4">EXPLORE NOW</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="image-container col-7 d-flex justify-content-center align-items-center mt-3 mt-lg-0">
            <div class="bg-primary-dark d-flex justify-content-center align-items-center p-3 pb-0">
              <img class="align-self-end pb-5 mb-5 dots" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696593981/TechVedika/AngularMateriall/Group_38_bthwz1.svg" />
              <img class="girl" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696594759/TechVedika/AngularMateriall/pexels-dima-valkov-6402847_2_c0y1oo.png" alt="Main Girl" />
              <img class="align-self-start pt-5 mb-5 dots" src="https://res.cloudinary.com/dfspkh5oi/image/upload/v1696593981/TechVedika/AngularMateriall/Group_38_bthwz1.svg" />
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
  <!-- Main Section Ends -->

</div>
