/* Header Styling  */
.header-section{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;

    .mat-toolbar{
        padding: 0 5%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-light);
    }

    .nav-item{
        display: flex;
        align-items: center;
    }
    
    .nav-item .nav-link{
        cursor: pointer;
        color: var(--primary-dark);
        text-transform: uppercase;
    }

    .nav-item .nav-link:hover{
        color: var(--black);
        text-shadow: 2px 2px 8px var(--black);
    }

    .mat-icon{      
        --mat-icon-color: var(--primary-dark);
        color: var(--mat-icon-color);
    }

    .mat-badge-warn {
        --mat-badge-background-color: #10FF70;
        --mat-badge-text-color: var(--black);
    }

    .mdc-button--outlined .mdc-button__ripple {
        border-color: var(--primary-dark);
    }

    .nav-right .mat-mdc-button-base.mat-unthemed {
        --mdc-outlined-button-label-text-color: var(--primary-dark);
    }

   
    .cdk-menu-bar .example-menu-bar-item {
        cursor: pointer;
        border: none;
        background-color: transparent;
      
        user-select: none;
        min-width: 34px;
        line-height: 26px;
        padding: 0 16px;
    }
        
          
    .example-menu-bar-item[aria-expanded='true'],
    .example-menu-item[aria-expanded='true'] {
      background-color: rgb(0,0,0, 0.1) !important;
    }          
   
}
/* Header Section Styling Ends */


/* Main Section Styling Starts */
.main-section{
    .mat-mdc-card {
        background-color: transparent;
        box-shadow: none;
    }

    .content{

        .mat-mdc-raised-button.mat-accent {
            --mdc-protected-button-container-color: var(--primary-dark);
            --mdc-protected-button-label-text-color: var(--white);
        }
    }

    .image-container div{
        border-top-right-radius: 6%;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 6%;
        border-bottom-right-radius: 20%;

        .dots{
            width: 100px;
        }

        .girl{
            height: 80vh;
        }

        @media all and (max-width: 768px){
            .dots{
                width: 75px;
            }
    
            .girl{
                width: 30vh;
                height: auto;
            }
        }

        @media all and (max-width: 576px){
            .dots{
                width: 55px;
            }

            .girl{
                width: 20vh;
            }
        }
    }
}
/* Main Section Styling Ends */


/* Best Selling Styling Starts */
.best-selling{
    --c-head: #373737;
    --c-sub-head: #454545;
    --c-main: #93B9A2;
    --c-secondary: #CADCD0;

    .c-head{
        color: var(--c-head);
    }
    
    .bg-main{
        background-color: var(--c-main);
    }

    .bg-secondary{
        background-color: var(--c-secondary);
    }

    .mat-mdc-card{
        background-color: transparent;
        box-shadow: none;
    }

    .example-card .image-container{
        box-shadow: 1px 1px 8px 1px var(--black);
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .example-card .image-container img{
        width: 100%;
        height: max-content;
    }

    .example-card .mat-icon{
        color: var(--golden);
    }

    .see-all{
        .mat-icon{
            columns: var(--primary-dark);
        }

        .mat-mdc-outlined-button:not(:disabled) {
            width: 26%;
            border-color: var(--primary-dark);
            color: var(--primary-dark);
        }

        @media all and (max-width: 576px){
            .mat-mdc-outlined-button:not(:disabled) {
                width: 50%;
            }
        }
        
        .mat-mdc-outlined-button {
            --mat-mdc-button-persistent-ripple-color: var(--primary-light-rgb-30);
            --mat-mdc-button-ripple-color: var(--primary-light-rgb-30);
        }
    }
}
/* Best Selling Styling Ends */


/* Our Products Styling Start */
.our-products{
    --c-head: #373737;
    --c-sub-head: #454545;
    --c-main: #93B9A2;
    --c-secondary: #CADCD0;

    .c-head{
        color: var(--c-head);
    }
    
    .bg-main{
        background-color: var(--c-main);
    }

    .bg-secondary{
        background-color: var(--c-secondary);
    }

    .mat-mdc-card{
        background-color: transparent;
        box-shadow: none;
    }

    .example-card .image-container{
        box-shadow: 1px 1px 8px 1px var(--black);
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .example-card .image-container img{
        width: 80%;
        height: max-content;
    }

    @media all and (max-width: 786px){
        .example-card .image-container img{
            width: 95%;
            height: 100%;
        }
    }

    .example-card .mat-icon{
        color: var(--golden);
    }
}
/* Our Products Styling Ends */


/* Exclusive offer Styling Start */
.exclusive-offer{
    
    .timer-card div{
        width: 80px;
        height: 80px;
        background-color: var(--white);
    }

    .mat-mdc-raised-button.mat-unthemed {
        --mdc-protected-button-container-color: var(--primary-dark);
        --mdc-protected-button-label-text-color: var(--white);
    }
}
/* Exclusive offer Styling Ends */


/* Desginer Section Styling Starts */
.designer-section{
    --c-head: #373737;
    --c-sub-head: #454545;
    --c-main: #93B9A2;
    --c-secondary: #CADCD0;

    .c-head{
        color: var(--c-head);
    }
    
    .bg-main{
        background-color: var(--c-main);
    }

    .bg-secondary{
        background-color: var(--c-secondary);
    }

    .mat-mdc-card{
        background-color: transparent;
        box-shadow: none;
    }

    .example-card .image-container{
        box-shadow: 1px 1px 8px 1px var(--black);
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .example-card .image-container img{
        width: 100%;
        height: max-content;
    }

    .example-card .mat-icon{
        color: var(--golden);
    }

    .see-all{
        .mat-icon{
            columns: var(--primary-dark);
        }

        .mat-mdc-outlined-button:not(:disabled) {
            width: 26%;
            border-color: var(--primary-dark);
            color: var(--primary-dark);
        }

        @media all and (max-width: 576px){
            .mat-mdc-outlined-button:not(:disabled) {
                width: 50%;
            }
        }
        
        .mat-mdc-outlined-button {
            --mat-mdc-button-persistent-ripple-color: var(--primary-light-rgb-30);
            --mat-mdc-button-ripple-color: var(--primary-light-rgb-30);
        }
    }
}
/* Desginer Section Styling Ends */


/* Footer Styling Starts */
.footer{
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
        border: 1px solid var(--primary-light);
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color: transparent !important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color: var(--mdc-filled-text-field-active-indicator-color);
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above{
        border-bottom-color: var(--primary-light);
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: var(--white);
    }    
    .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
        font-size: 16px;
        font-family: Poppins;
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }
}
/* Footer Styling Ends */