/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Root Variablels */
:root {
    --primary-dark: #224F34;
    --primary-light: #C2EFD4;
    --primary-light-rgb-30:rgb(194, 239, 212, 0.3); 
    --white: #FFF;
    --black: #000;
    --grey: #CCC;
    --light-grey: #F8F7F7;
    --golden: #F5D426;
    --dark-grey: #6F6F6F;
}

/* Common Styling  Start */
.popin-font{
    font-family: Poppins !important;
}
.robot-slab-font{
    font-family: Roboto Slab !important;
}
.rufina-font{
    font-family: Rufina !important;
}

ul{
    list-style-type: none;
}

.c-primary-dark{color: var(--primary-dark);}
.c-primary-light{color: var(--primary-light);}
.c-white{color: var(--white);}
.c-black{color: var(--black);}
.c-grey{color: var(--grey);}
.c-dark-grey{color: var(--dark-grey);}

.bg-primary-dark{background-color: var(--primary-dark);}
.bg-primary-light{background-color: var(--primary-light);}
.bg-black{background-color: var(--black);}
.bg-grey{background-color: var(--grey);}
.bg-light-grey{background-color: var(--light-grey);}
.bg-white{background-color: var(--white);}


.un-listed{
    list-style-type: none;
    padding-left: 0;
}

.shadow-box{
    box-shadow: 0px 0px 10px var(--black);
}

a{
    cursor: pointer;
    text-decoration: none;
}

/* Common Styling  Ends */

html{
    --mdc-outlined-text-field-caret-color : var(--primary-dark) !important;
    --mdc-outlined-text-field-focus-outline-color: var(--primary-dark) !important;
    --mdc-filled-text-field-focus-active-indicator-color: var(--primary-dark) !important;
    --mdc-filled-text-field-caret-color: var(--primary-light) !important;
    --mdc-filled-text-field-focus-label-text-color: var(--primary-light) !important;
}

.cdk-overlay-container{
    
    .mat-mdc-menu-panel {
        min-width: 220px;
        max-width: 320px;
        background-color: var(--primary-light);
    
        .mat-mdc-menu-content button{
            display: flex;
            justify-content: center;

            .mat-mdc-raised-button{
                background-color: var(--primary-dark);
            }
        }

        .mat-mdc-menu-content button:hover{
            text-shadow: 2px 2px 8px var(--black);
        }

        .mdc-button--outlined .mdc-button__ripple {
            border-color: var(--primary-dark);
        }

        .nav-right .mat-mdc-button-base.mat-unthemed {
            --mdc-outlined-button-label-text-color: var(--primary-dark);
        }
    }

    .mat-mdc-dialog-container { 
        --mdc-dialog-container-color: var(--primary-dark);
        --mdc-dialog-container-shape: 8px;
        width: 100%;
        max-width: 80vw;
        --mdc-dialog-container-elevation-shadow: 5px 5px 10px;
    }

    @media all and (max-width: 992px){
        .mat-mdc-dialog-container{
            min-width: 80vw;
            max-width: 90vh;
        }
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
        color: var(--white) !important;
    }

    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label & .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
        color: var(--white) !important;
    }

    .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
        --mdc-tab-indicator-active-indicator-color:     var(--white);
        --mat-tab-header-active-label-text-color:       var(--white);
        --mat-tab-header-active-ripple-color:           var(--white);
        --mat-tab-header-active-focus-label-text-color: var(--white);
        --mat-tab-header-active-hover-label-text-color: var(--white);
        --mat-tab-header-active-focus-indicator-color:  var(--white);
        --mat-tab-header-active-hover-indicator-color:  var(--white);

        --mdc-tab-indicator-inactive-indicator-color:       var(--grey);
        --mat-tab-header-inactive-label-text-color:         var(--grey);
        --mat-tab-header-inactive-ripple-color:             var(--grey);
        --mat-tab-header-inactive-focus-label-text-color:   var(--grey);
        --mat-tab-header-inactive-hover-label-text-color:   var(--grey);
        --mat-tab-header-inactive-focus-indicator-color:    var(--grey);
        --mat-tab-header-inactive-hover-indicator-color:    var(--grey);
    }

    .mat-mdc-card{
        background-color: transparent;
        box-shadow: none;
    }

    --mdc-filled-text-field-container-color : transparent;
    --mdc-filled-text-field-caret-color: var(--primary-light);


    .cdk-menu-bar .example-menu-bar-item {
        cursor: pointer;
        border: none;
        background-color: transparent;
      
        user-select: none;
        min-width: 34px;
        line-height: 26px;
        padding: 0 16px;
    }
        
          
    .example-menu-bar-item[aria-expanded='true'],
    .example-menu-item[aria-expanded='true'] {
      background-color: rgb(0,0,0, 0.1) !important;
    }          

    .example-menu {
        display: inline-flex;
        flex-direction: column;
        min-width: 180px;
        max-width: 280px;
        background-color: rgb(255, 255, 255);
        padding: 6px 0;
        font-family: Poppins;
    }
      
    .example-menu hr {
        width: 100%;
        color: rgba(0, 0, 0, 0.12);
        margin: 0;
    }
      
    .example-menu .example-menu-group {
        display: inline-flex;
        flex-direction: column;
    }
      
    .example-menu .example-menu-item {
        color: var(--primary-dark);
        font-size: 16px;

        background-color: transparent;
        cursor: pointer;
        border: none;
          
        user-select: none;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
          
        display: flex;
        align-items: center;
        flex-direction: row;
        flex: 1;
    }
          
    .example-menu-item > span {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
    }
          
    .example-menu .example-menu-item:hover {
        background-color: rgb(208, 208, 208);
    }
      
    .example-menu .example-menu-item[role='menuitemradio'][aria-checked='true'] {
        background-color: rgb(225, 225, 225);
    }
    
    .example-menu .example-menu-item[role='menuitemcheckbox'][aria-checked='true'] {
        background-color: rgb(225, 225, 225);
    }
    
    .example-menu .example-menu-item:active {
        background-color: rgb(170, 170, 170);
    }
    
}
